@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply transition-colors duration-500;
    }
  }
  
  /* Красивый скроллбар для темной темы */
  .dark ::-webkit-scrollbar {
    width: 10px;
  }
  .dark ::-webkit-scrollbar-track {
    background: #0f172a;
  }
  .dark ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 5px;
  }
  .dark ::-webkit-scrollbar-thumb:hover {
    background: #334155;
  }